<%- include('./headers'); %>

<div class="login-container">
  <label for="">Name</label>
  <input id="name" type="text" />

  <label for="">Password</label>
  <input id="password" type="password" />

  <a href="/views/index.ejs"><button id="submit">Submit</button></a>
</div>
<script src="./script/index.js"></script>
